@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;500&display=swap');

body{
    margin:0;
    padding:0;
    font-family: 'Prompt', sans-serif;
}
.area{
    margin: auto;
    width: 600px;
    padding: 10px;
    background-color: black;
    border-radius: 10px;
    
}

.bdr{
    border:2px solid black;
}
h1{
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: purple;
    
    
}

.container input[type=text]
{
    border:3px solid black;
    margin:10px ;
    padding:25px 0px;
    border-radius:9px ;
    font-size: 25px;
    font-weight: bold;
}

.container input[type=button]{

    padding: 25px 30px;
    border:2px solid black;
    border-radius: 7px;
    margin:4px;
     box-shadow: 2px 2px 2px yellow;
}
#clr{
    padding: 25px 100px;
}