*{
    margin:0;
    padding: 0;
}

body{
    background: url('resource/bg.jpeg') no-repeat; 
     background-size: cover;
     /* height:100vh;
     overflow: hidden; */
   
    
}
.Border{
    border:2px solid black;
}
.taskbar{
    position: absolute;
    bottom:0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f3f3f3;
    z-index: 110px;
  
}
.sidebar{
    position: absolute;
    bottom: 0;
   width: 100%;
   display: flex;
   justify-content: end;
    
}
.sidebar img{
    height: 43px;
}
#menu{
    position: absolute;
    bottom: 0;
    margin-bottom: 53px;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

#menu img{
    height:550px;
    width:530px;
    border-radius: 10px;
}

